---
import type { CollectionEntry } from 'astro:content';
import Page from './Page.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, featuredImage, pubDate, updatedDate} = Astro.props;
---
<Page title={title} description={description} contentType='text'>
    <article class="long-post">
        <h1>{ title }</h1>
        <hr />
        <Image src={featuredImage} alt="" />
        <slot />
        <hr>
        <FormattedDate date={pubDate} updatedDate={updatedDate}/>
        <slot name="after"/>
    </article>
</Page>
<style>
    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        margin-bottom: 15px;
    }
    #date {
        font-size: calc(14rem / 16);
    }
</style>
